<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number of holes:</strong>
  <%= @course.number_of_holes %>
</p>

<p>
  <strong>Played:</strong>
  <%= @course.played %>
</p>

<p>
  <strong>Par:</strong>
  <%= @course.par %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
